* {
  border: none;
  border-radius: 5px;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: #1E1E1E;
  color: #FFFFFF;
  border: 1px solid rgba(255,255,255,0.8);
}

#workspaces button {
  padding: 0 10px;
  margin: 1px;
  color: #FFFFFF;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #000000;
  background: #FF6B00;
}

#workspaces button:hover {
  background: #45475a;
}

#clock,
#cpu,
#memory,
#temperature,
#weather,
#tray,
#window {
  padding: 0 10px;
  margin: 0 4px;
  border-radius: 4px;
  color: #FFFFFF;
}
